
<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/no-chinese-in-english/">就怕老外写中文</a></div>
        <div class="art-time headline">Sept. 18, 2007 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p><img src="/upload/5bdff18ee8859.jpg" alt="514cb3b2_20070918.jpg"></p>
<p>做E2C翻译做多了，肯定会有这样的体会：翻译过程中50%的时间是泡在了Google（or百度，what ever）上，满世界地寻找某些机构、人物名称的既有译法。特别是对于一些较为生僻的专有名词，那花的工夫可不是一两分钟这么简单，往往要把搜索结果全部看完，才敢初步判断这个词是不是的确没有约定俗成的译法。如果没有，方可自己按照读音译出。尤其可恨的是，网络上的文章由于求快求新，故而翻译往往草草完事，大堆大堆本该可以译出的人名地名照原文放在那里，所以在Google给出的几十个搜索页面里，往往有用的少之又少。</p>
<p>我个人最怵的，还是老外“写”中文。博大精深的汉字到了他们的笔下，成为了一串表音的拉丁字母，“形”毁了先不说，更多的时候连“音”也元神俱丧。</p>
<p>就拿一个“张”姓来说，我看到过的写法有 Zhang（大陆，如张靓颖 Jane Zhang）、Chang（台湾，张信哲 Jeff Chang）、Cheung（香港，张柏芝 Cecilia Cheung）、Jang（韩国，张东健 Jang Don Gun）、Teo（似乎是闽南语？张栋梁 Nicholas Teo），Cho（日语的汉字音读，张富士夫 Cho Fujio）。在同一张《Forbes新加坡富豪榜》上，同为黄家人的黄廷方（Ng Teng Fong）和黄祖耀（Wee Cho Yaw）就有“两个”姓了，同是郭家子孙的郭令明（Kwek Leng Beng）和郭孔丰（Kuok Khoon Hong）也变成了两家人。当然，这也不能怪老外，中文音译的藩系过多是主要原因。拼音、威妥玛两个套系，再加上复杂的方言系统和日、韩、越等汉字源流国家的各自转写，中文在拉丁文字系统里表现得如此混乱就不足为奇了。</p>
<p>更增加事情复杂程度的是，很多华人喜欢取“英文名”。而且取来取去就是那么几个常用的英文名，时常发生“撞车”。你可以Google一下David Tsang，看看有几个不同的“破译”版本。在这点上，我不得不说，无论是日韩，还是印度、泰国人，纵使他们的名字用拉丁字母拼出来是多么怪异、冗长（看看Charoen Sirivadhanabhakdi和Somporn Juangroongruangkit有多少个字节），但很少有人用英文名的。所以我决定了，如果我哪天成名了，我一定不会用英文名。（哈哈，现在这个是网名，另当别论）</p>
<p>当然，如果说以上这些只是老外写中文给我们翻译造成的“纯技术性问题”，只需要搜索几次就能知道答案的话，那么当老外试图“引经据典”的时候，才是真正梦魇的开始。</p>

        <div><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/no-chinese-in-english/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E7%BF%BB%E8%AF%91">翻译</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/msn-china/">MSN China - 分门别类地打击异己</a></div>
        <div class="art-time headline">May 31, 2005 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p>关注网络动态的朋友一定知道微软在酝酿许久以后终于推出了MSN的<a href="http://www.msn.com.cn/">中文站点</a>，也一定看到了对这个新站点的各种评价。不过对我来说，比起该站点在内容上的贫乏和无趣，更让我无法忍受的是其IE Only的不友好界面。在站点发布后没几个小时，网上已经充斥着对于MSN China的站点设计的批评，尤其是它在Firefox和Netscape浏览器下惨不忍睹的非正常显示更是愤怒。<br>最初以为这只是微软中国无视Fx和Nc用户存在的一贯作风罢了。不过近日，从Firefox中文社区了解到，MSN China的页面之所以在Fx下这么不堪，不是它没有考虑到Fx的用户，而恰恰是因为考虑到了Fx的存在，给了Fx用户特殊的“照顾”。<br>以下引用Nighttalker的发言，原帖地址在：<a href="http://www.firefox.net.cn/newforum/viewtopic.php?t=5882&amp;postdays=0&amp;postorder=asc&amp;&amp;start=15">这里</a>。</p>
<blockquote>
<p>ft, msn.com.cn似乎对浏览器进行分辨，然后对不同浏览器发送不同的stylesheet, opera8里面，如果伪装成mozilla 5.0 就会一塌糊涂。哪位装了UA switcher的试试看把FX伪装成IE6有什么结果？<br>update: 我无法相信msn中国竟然真的还在使用如此拙劣的手段来打击异己，他们应该是忘记了2年前，因为微软的msn针对opera发送不同CSS而导致opera对于msn.com渲染出错，opera状告微软而获得几千万美元赔款的前车之鉴了。这帮子没脑子的东西。<br>以下截图是安装了user agent switcher,然后把fx伪装成IE 6之后的结果。</p>
</blockquote>
<p>于是我用UA Switcher扩展分别伪装成IE 6.0、Opera 7.54和Netscape 4.8访问了MSN China的主页，该站点对不同浏览器发送的css是：<br>IE 6.0： /gen/css/MSN9UX/home-ie6.css?V=1.03<br>Firefox 1.0.4：/gen/css/MSN9UX/home-fire.css?V=1.03<br>Opera 7：/gen/css/MSN9UX/home-opera7.css?V=1.03<br>Netscape：没有CSS！<br>其中IE和Opera的两套CSS显示正常，Fx的CSS显示为白茫茫的一片，Nc由于没有关联css，显示效果比Fx还差。</p>
<p><05.31 22:16更新：其实是根本不存在home-fire.css这个文件，也就是说是故意让Fx引用不存在的css></p>
<p><06.04更新：MSN China终于在近期弥补上了Firefox的css文件，现在用fx访问已经正常。但愿这次事件的原委如我本文最后所说。><br>因此，MSN China通过这个伎俩打压对其构成威胁的浏览器的事实基本上是存在的。为什么没有对Opera7给与特殊待遇呢？大概是MS吃过2年前的亏，这次变聪明了。Fx是目前除Opera以外最大的对手，当然要对它好好招待。至于Nc，看来已经被遗忘了吧，这些用户索性也就不要浏览了。<br>MSN China站点在这件事上，有那么几点让人不齿：<br>1.利用卑鄙的暗招阻碍其他浏览器用户的正常访问，借以打压异己。<br>2.欺软怕硬，两副嘴脸迎客。<br>3.拾MSN全球站点2年前的牙慧。<br>其实，MSN China应该意识到，凭借其目前提供的内容咨询，这样的小花招根本无济于事。Fx和Nc的用户大不了不去你这个什锦拼盘，免得眼睛和精神受到双重折磨。<br>当然，为他们开脱一下也是可以的。可以理解为站点处于测试阶段，针对Fx和Nc的css还没有开发好（众所周知IE和Fx在css的解释上常常南辕北辙）。也对，MSN China的站点筹备计划了这么久才面世，也不在乎多拖上那么几个月嘛！届时IE 7一发布，重振雄风以后，Fx和其他浏览器还用考虑么！</p>

    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/fayewong-lyrics/">评王菲在《将爱》中的作词</a></div>
        <div class="art-time headline">Dec. 1, 2003 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p>这次的新专辑王菲自己做了不少词，因此很期待地看了《不留》，看完以后却难掩心酸。她，一个在爱情上不算成功且饱受非议的女人，把她的经历，她的想法，一丝丝地融入进了自己亲手写下的词句中。《只爱陌生人》里她处于刚与窦唯决裂后的阵痛期，所以里面的每一首亲自创作都是无穷无尽的哀伤和无奈。尤其是《推翻》，这首她自己演绎时难以抑止泪水的歌，让我震惊为什么如此天籁声音可以呈示如此不堪的心碎。</p>
<blockquote>
<p>突然间你连瞒都不瞒　想也不想<br>就这么推翻<br>就这么说过去只是闹剧一场<br>就这样你连探都不探　看也不看<br>像与你无关<br>像是只有我还可以承受<br>这无解的遗憾</p>
</blockquote>
<p>当一个女人用如此直接的话语展示感情的创伤的时候，已经没有必要去解释和算清谁负了谁了。无论如何，她都是受伤者，一个伤痕累累的伤者。这就是很长一段时间内我不敢去也不愿去听窦唯，那个带给她如此巨大的伤害的男人（尽管不一定是他的错）。甚至当我看着当年王菲激情十足地演唱《Don&#39;t Break My Heart》，窦唯在其身后奋力伴奏的那些画面，心里也不是滋味。我想这首歌王菲今后都不会再翻唱了，因为唱一次，兴许就是在伤口洒盐，在心口划刀。</p>

        <div><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/fayewong-lyrics/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#Music">Music</a></li>
            
        </ul>
    </div>
    
      
</div>

<div id="pages" class="headline">
    <ul>
        
        <li class="page-prev"><a hx-get="/page/11/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/11/">❮</a></li>
        
        <li class="page-actived">12</li>
        
        <li class="page-next"><a hx-get="/page/13/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/13/">❯</a></li>
        
    </ul>
    
</div>