
<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E6%B8%B8%E8%AE%B0/onomichi/">日旅集 - EP3：尾道</a></div>
        <div class="art-time headline">Mar. 1, 2026 · <a href="/category/%E6%B8%B8%E8%AE%B0/">游记</a></div>
    </div>
    <div class="art-body bodytext">
    <p>第三篇，回忆一下盛夏的濑户内边小城——尾道（おのみち，Onomichi）。</p>
<p><img src="/upload/onomichi_title.jpg" alt="Onomichi Title"></p>
<blockquote>
<p>尾道市是位于日本广岛县东南部的城市，位处冈山市与广岛市两个大都会区之中间处；辖区还包括濑户内海上的向岛、生口岛等。(Source: Wikipedia)</p>
</blockquote>
<h2 id="toc-%E5%8F%8D%E5%A4%8D%E8%A2%AB%E7%A7%8D%E8%8D%89">反复被种草</h2><p>2024年 - 2025年初，B站的各大日本旅游Up主们，不约而同地反复来到尾道这个地方，他们的理由出奇地一致：安逸、文学气质浓重的海边小镇，可以在这里住上很久。</p>
<p>看多了，对这个地方印象也越来越深。安静的坡道、海边的房子、濑户内海的气息，好像隔着屏幕就能感受到。渐渐地，这成了我特别想亲自去看看的地方。</p>
<p>于是在2025年的夏天，结束了一段忙碌的工作之后，终于踏上了我的“日本中国地区”旅行。从上海直飞广岛，并且留出了一天半时间给尾道。从广岛站坐JR新干线，在福山换乘普通列车，就到了心心念念的这座小城。<br><img src="/upload/onomichi_street.jpg" alt="尾道的街"></p>
<h2 id="toc-%E6%9C%AC%E9%80%9A%E5%95%86%E5%BA%97%E8%A1%97">本通商店街</h2><p>由于下午在宫岛多逗留了一阵子，导致我到达尾道的时候已近黄昏。只能去往本通商店街先感受一下气氛了。</p>
<p>本通就在尾道站的边上。这是日本每个城市都有的那种商店街，而和其他小城的同类一样，如今的尾道本通也随着人口的减少而稍显破败。天色还没有暗，街道里却已几乎无人。虽然第二天我又在商店街来回走了两三趟，但第一晚它迎接我的却是“下班”后的冷清。一路走下来，店铺大多已经打烊。</p>

        <div><a href="/%E6%B8%B8%E8%AE%B0/onomichi/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E6%97%85%E8%A1%8C">旅行</a></li>
            
            <li><a href="/tags/#%E6%97%A5%E6%9C%AC">日本</a></li>
            
            <li><a href="/tags/#%E5%B9%BF%E5%B2%9B%E5%8E%BF">广岛县</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E9%9A%8F%E5%BF%83%E6%B5%8B/fnos/">飞牛Nas系统体验</a></div>
        <div class="art-time headline">Apr. 5, 2025 · <a href="/category/%E9%9A%8F%E5%BF%83%E6%B5%8B/">随心测</a></div>
    </div>
    <div class="art-body bodytext">
    <p><img src="/upload/banner_home_1.png" alt="fnOS"><br>为了应对家庭轻度的Nas和软路由需求，我测试过许多方案，包括成品的轻量级Nas、PVE all-in-one+OpenMediaVault+Openwrt、闲置的MacBook Air等等。而先前被我装上黑苹果用了一年的Nuc也经过了all-in-one小主机和x86机顶盒等多次变身，最终长期闲置。</p>
<p>直到飞牛NAS系统的横空出世并着b站一炮而红，我的家庭Nas和Nuc终于找到了正确的归宿。安装部署至今，已经稳定运行了数月，值得记录一番。</p>
<h3 id="toc-%E7%A1%AC%E4%BB%B6">硬件</h3><p>这套系统的核心仍然是从黑苹果上退役下来的Nuc8i5，装了16g的内存，内置一块SSD（系统盘）和一块M.2，外接一块SSD硬盘，总共128G+4T全闪储存空间，按目前的用量来看绰绰有余。配置了一张2.5G USB网卡与路由器连接，需要时也可通过雷电网桥连接MacBook。</p>
<h3 id="toc-%E7%B3%BB%E7%BB%9F">系统</h3><p>fnOS的优点是不挑硬件，安装便捷，功能相对完善，使用上手快门槛低，自带内网穿透，以及—— 完全免费。</p>
<p><strong>飞牛影视</strong>作为其杀手锏，解决了我家两个android机顶盒+一台Apple TV+各色移动设备的看片需求。相比之前文件服务器+SMB的解决方案，飞牛影视的电视端操作更方便，海报墙更美观，刮削更智能，爱看韩剧的夫人对此赞不绝口。</p>
<p>通过<strong>相册</strong>同步功能，我的iPhone相册和照相机的储存卡都可以妥善备份。而且新加入的AI功能让查找特定的照片也更方便了。</p>
<p>我在<strong>虚拟机</strong>里安装了iStoreOS，运行OpenClash，作为旁路由使用。Nuc在充当软路由时无疑是性能过剩的。配合中兴主路由器的特色功能，可以在主路由的管理界面里就将特定设备的网关指派为旁路由，设备本身无需做任何设置。</p>
<h3 id="toc-%E5%B1%95%E6%9C%9B">展望</h3><p>目前我对这套系统非常满意，不过Nuc毕竟是多年前的产品了，每次听到风扇的声音总会有一些小心思：是不是需要更新的小主机？或者跟风入一台mac mini（甚至我测试了用UTM虚拟机装了fnOS作为可行性验证，系统跑起来是完全没有问题的）？毕竟常言道，折腾Nas也是中年男人的乐趣之一。</p>

    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E9%A3%9E%E7%89%9B">飞牛</a></li>
            
            <li><a href="/tags/#nuc">nuc</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/falcom-kiseki/">轨迹也是一种习惯了</a></div>
        <div class="art-time headline">Mar. 21, 2025 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p><img src="/upload/IMG_3702.jpg" alt="轨迹全家福"></p>
<p>我不是一个游戏爱好者，玩起游戏来技术也很差。但是Falcom的英雄传说·轨迹系列却是我的心头好。从《空之轨迹FC》入坑到最新的《界之轨迹》，设备也从PC开始一路升级到PS5。甚至可以说，买PlayStation的原因就是为了第一时间玩到轨迹的新作。去年又在Switch上把之前入手数字版的旧作全部转化为了NS版，形成了一个小小的收藏。(唯一的遗憾是空轨没有NS改，但很快就有重制版了，小小地期待一下吧。)</p>
<p>轨迹算是一个纯粉丝向的系列。每一部之间都有盘根错节的设定和剧情上的羁绊，加上熟人社交圈一般的人物关系，发展至今甚至有一点积重难返的意味，使得中途入坑的难度巨大。</p>

        <div><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/falcom-kiseki/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E6%B8%B8%E6%88%8F">游戏</a></li>
            
        </ul>
    </div>
    
      
</div>

<div id="pages" class="headline">
    <ul>
        
        <li class="page-prev"><a hx-get="/page/1/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/1/">❮</a></li>
        
        <li class="page-actived">2</li>
        
        <li class="page-next"><a hx-get="/page/3/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/3/">❯</a></li>
        
    </ul>
    
</div>