
<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/macos-tips/">macOS疑难杂症速查笔记</a></div>
        <div class="art-time headline">Mar. 18, 2025 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p><img src="/upload/macOS.png" alt="macOS"><br>作为macOS十年老用户，以下这些疑难杂症处理方法本来只是个人的备忘录，现在打算把它们存在一篇笔记里便于查看。</p>
<h3 id="toc-%E8%A7%A3%E5%86%B3Mac%E5%AE%89%E8%A3%85%E8%BD%AF%E4%BB%B6%E7%9A%84%E2%80%9C%E5%B7%B2%E6%8D%9F%E5%9D%8F%EF%BC%8C%E6%97%A0%E6%B3%95%E6%89%93%E5%BC%80%E3%80%82%20%E6%82%A8%E5%BA%94%E8%AF%A5%E5%B0%86%E5%AE%83%E7%A7%BB%E5%88%B0%E5%BA%9F%E7%BA%B8%E7%AF%93%E2%80%9D%E9%97%AE%E9%A2%98">解决Mac安装软件的“已损坏，无法打开。 您应该将它移到废纸篓”问题</h3><p>原文链接：<a href="https://zhuanlan.zhihu.com/p/135948430">https://zhuanlan.zhihu.com/p/135948430</a><br><strong>Step 1: 打开允许“任何来源”的程序</strong></p>

<pre><code>sudo spctl  --master-disable
</code></pre>
<p>然后在设置中设置允许“任何来源”</p>
<p><strong>Step 2（如Step 1无效）：删除隔离附加信息</strong></p>

<pre><code>sudo xattr -r -d com.apple.quarantine /Applications/应用名称.app
</code></pre>

        <div><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/macos-tips/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#macOS">macOS</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E6%B8%B8%E8%AE%B0/hakone/">日旅集 - EP2：箱根</a></div>
        <div class="art-time headline">Mar. 3, 2025 · <a href="/category/%E6%B8%B8%E8%AE%B0/">游记</a></div>
    </div>
    <div class="art-body bodytext">
    <p>第二篇，讲讲神奈川县的另一个热门目的地——箱根。</p>
<p><img src="/upload/hakone.jpg" alt="Hakone Title"></p>
<blockquote>
<p>箱根（はこね，Hakone）位于日本神奈川县，以温泉、自然景观和富士山美景闻名。拥有大涌谷、芦之湖、箱根神社等景点，是东京附近的著名旅游胜地。（简介来自DeepSeek）</p>
</blockquote>
<p>这座温泉之乡以其火山地貌、静谧湖泊与艺术气息吸引着各方旅人。说到箱根，我发现它神奇地兼具交通不便和交通便利两个属性。说它不便，是因为游览地分散在山间，去遍所有景点需要在火车、登山电车、缆车、巴士中切换。说它便利，只需在小田急的游客中心买一张箱根周游券就能无限乘坐所有公共交通，而且整个游览线路可以连成一个环，时间安排上也毫无困难。</p>
<h2 id="toc-%E6%B9%96%E5%85%89%E5%B1%B1%E5%BD%B1">湖光山影</h2><p>旅程从元箱根港开始。从巴士上一下车，目光就再也没离开过芦之湖。因火山活动而形成的湖泊位于群山之间，湖水湛蓝，湖上复古的海盗船来来往往。晴空之下，远处的富士山若隐若现，湖畔箱根神社的红色鸟居更是抢眼。可以到神社先转上一圈，鸟居前的经典机位需要排队。</p>

        <div><a href="/%E6%B8%B8%E8%AE%B0/hakone/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E6%97%85%E8%A1%8C">旅行</a></li>
            
            <li><a href="/tags/#%E6%97%A5%E6%9C%AC">日本</a></li>
            
            <li><a href="/tags/#%E7%A5%9E%E5%A5%88%E5%B7%9D%E5%8E%BF">神奈川县</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E6%B8%B8%E8%AE%B0/kamakura/">日旅集 - EP1：镰仓</a></div>
        <div class="art-time headline">Feb. 28, 2025 · <a href="/category/%E6%B8%B8%E8%AE%B0/">游记</a></div>
    </div>
    <div class="art-body bodytext">
    <p>开一个新坑，也可能是一个天坑。总结一下在霓虹国各地的旅行感受，顺手整理一下照片。去过的地方很多，慢慢更。第一篇就从最值得一去的东京周边景点 —— 镰仓开始吧。</p>
<p><img src="/upload/kamakura.jpg" alt="Kamakura Title"></p>
<blockquote>
<p>鎌倉（かまくら，Kamakura）位于神奈川县，三面环山一面靠海，距东京约50公里。作为日本首个武家政权所在地，保存着鹤冈八幡宫、建长寺等历史遗迹。(简介来自DeepSeek)</p>
</blockquote>
<h2 id="toc-%E5%89%8D%E8%A8%80">前言</h2><p>每次到东京，都要想办法留一些时光给镰仓。坐上横须贺线，一个小时左右便能到达镰仓站。在那里买一张江之电一日券，搭上绿皮列车，我们的镰仓之旅就此正式展开。</p>
<p>八年前的清明假期，第一次去感受日本的樱花季，从此就邂逅了镰仓，这座我一次次前往的城市。随着电车“叮叮”地摩擦铁道，紧贴着民居一路飞驰，游客可以随时上下车，一路打卡经典的观景点。</p>

        <div><a href="/%E6%B8%B8%E8%AE%B0/kamakura/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#%E6%97%85%E8%A1%8C">旅行</a></li>
            
            <li><a href="/tags/#%E6%97%A5%E6%9C%AC">日本</a></li>
            
            <li><a href="/tags/#%E7%A5%9E%E5%A5%88%E5%B7%9D%E5%8E%BF">神奈川县</a></li>
            
        </ul>
    </div>
    
      
</div>

<div id="pages" class="headline">
    <ul>
        
        <li class="page-prev"><a hx-get="/page/2/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/2/">❮</a></li>
        
        <li class="page-actived">3</li>
        
        <li class="page-next"><a hx-get="/page/4/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/4/">❯</a></li>
        
    </ul>
    
</div>