
<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E9%9A%8F%E5%BF%83%E6%B5%8B/libratone-zipp-mini/">Libratone Zipp Mini，让耳朵沉醉的热水瓶</a></div>
        <div class="art-time headline">Jul. 31, 2016 · <a href="/category/%E9%9A%8F%E5%BF%83%E6%B5%8B/">随心测</a></div>
    </div>
    <div class="art-body bodytext">
    <p>选择一只讨好耳朵的便携无线音箱是不容易的一件事。看看京东的相关页面，价位从100以下到数千元不等，品牌从山寨小厂到国际大牌俱全。曾经受颜值的蛊惑误购了一只Beats Pill，被那感人的地摊货音质伤得不轻。所以，当同样以简约设计为主打的Libratone的无线音箱再度吸引到我的关注时，一开始我是拒绝的。无奈还是经不住网上几乎零差评的口碑诱惑，把这台红艳艳的 Libratone Zipp Mini 收入囊中。</p>
<p>谢天谢地，小红总算没有让我失望。</p>
<h2 id="toc-%E9%80%A0%E5%9E%8B">造型</h2><p>就是一只低调又闷骚的热水瓶。无论放在书架上，飘窗边，还是餐桌上，都非常和谐百搭。放张图，感受一下：</p>
<p><img src="https://i.loli.net/2018/11/05/5bdfef8d3b334.jpg" alt="ade1967d_libratone_zipp_red.jpg"></p>
<p>唯一缺点：便携性比Bose和Beats都差好多（太大、太重，就算是Mini版本也还是太敦实。你看宣传照里李健是直接拎着<strike>去打水</strike>出街的）。</p>
<h2 id="toc-%E9%9F%B3%E8%B4%A8">音质</h2><p>当然，它的音质才是最让我赞叹不已的地方。连接Wi-Fi后，秒杀蓝牙连接的优势体现无遗。声音细节丰富而均衡，特别是低音，有量但绝不夸张沉闷，偏暖的调教用来听女声、小清新男生，以及网络歌手的翻唱（修音）作品，都相当悦耳，甚至会让人满足到感动。</p>

        <div><a href="/%E9%9A%8F%E5%BF%83%E6%B5%8B/libratone-zipp-mini/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#Libratone">Libratone</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E9%9A%8F%E5%BF%83%E6%B5%8B/kindle-voyage/">Kindle Voyage小评</a></div>
        <div class="art-time headline">Jul. 24, 2016 · <a href="/category/%E9%9A%8F%E5%BF%83%E6%B5%8B/">随心测</a></div>
    </div>
    <div class="art-body bodytext">
    <p><img src="https://i.loli.net/2018/11/05/5bdfedf4e1fdb.jpg" alt="-R">工欲善其事，必先利其器。好的工具不仅可以让我们事半功倍，更能反过来改变我们的做事方式。Kindle就是一个改变了无数人阅读方式的产品，也是让我本人重新拾回阅读习惯的优秀工具。</p>
<p>Kindle Voyage作为Kindle家族曾经的旗舰，是不可多得的伙伴级数码产品。它轻盈小巧、便携力无敌，高dpi的电子墨水屏配合柔和的背光，让人一读起来就停不下（前提是有充足的空余时间）。</p>
<p>值得一提的是两侧的实体翻页键，不仅安排在顺手的位置，而且贴心地在每一个键上都赋予了向前和向后翻页的功能，这对于有时倾向于左手持屏的我来说是一个加分项。更别提按键的力反馈十分舒服。</p>
<p>硬件背后是强大的内容支持。亚马逊的电子书库非常全面，新书、畅销书齐全。最好的一点，不像国内某些互联网巨头的电子书城那样，一打开，屏幕就被各种霸道总裁和仙侠网络小说强奸，能够满足对文字有那么点（基本）要求的人。</p>
<p><strong>Enjoy your life. Keep on reading.</strong> </p>
<p>##附一篇：Filco Ninja Majestouch-2, Tenkeyless机械键盘</p>

        <div><a href="/%E9%9A%8F%E5%BF%83%E6%B5%8B/kindle-voyage/#more">More...</a></div>
    </div>
    
    <div class="art-tags headline"> 
        <ul>
            
            <li><a href="/tags/#Kindle">Kindle</a></li>
            
            <li><a href="/tags/#Filco">Filco</a></li>
            
        </ul>
    </div>
    
      
</div>

<div class="article">
    <div class="art-meta">
        <div class="art-title headline"><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/away-from-wechat-moments/">逃离朋友圈</a></div>
        <div class="art-time headline">May 28, 2016 · <a href="/category/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/">自言自语</a></div>
    </div>
    <div class="art-body bodytext">
    <p>去年以来，我身边的很多人都陆续说，他们想要逃离微信朋友圈。一方面是被各种微商、小广告和晒图狂逼的，另一方面，他们自己发帖子的兴趣也越来越寡淡。眼见不少人在朋友圈的信息流里渐渐沉默，就像几年前微博的信息流慢慢地只剩下大号在发声一样。</p>
<p>让我们逃离朋友圈的原因很多，但对我来说，最重要的原因无非是羊群效应，导致朋友圈信息流质量低劣，读来甚为乏味。</p>
<p><img src="/upload/5bdff0192720d.jpg" alt=""><br>正如忽然之间，所有的“朋友”都表示自己是科比的球迷，他们的青春在那一刻全部随他一起退役了。又是一夜之间，所有的“朋友”都成了文学爱好者，扼腕嗟叹杨绛先生的离世使得世间再无“我们仨”。假期一开始，A君发的九张自拍，和上个长假小C发的九张图的地点、角度大同小异。更有甚者，当公司的公众号发了一篇平淡无奇的文章，接下来的几个小时同事将不断用这篇刷屏自High。</p>

        <div><a href="/%E8%87%AA%E8%A8%80%E8%87%AA%E8%AF%AD/away-from-wechat-moments/#more">More...</a></div>
    </div>
    
      
</div>

<div id="pages" class="headline">
    <ul>
        
        <li class="page-prev"><a hx-get="/page/6/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/6/">❮</a></li>
        
        <li class="page-actived">7</li>
        
        <li class="page-next"><a hx-get="/page/8/" hx-swap="outerHTML" hx-target="#main" hx-select="#main" hx-push-url="true" hx-indicator="#loader" href="/page/8/">❯</a></li>
        
    </ul>
    
</div>