/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starting here */
:root {
    --overall-width: 80%;
    --bgcolor-home: #fff;
    --color-home: #000;
    --color-revert: #fefefe;
    --color-pop: #4059a7;
    --bgcolor-pop: #4059a7;
    --bgcolor-pop2: #ff8c00;
    --bgcolor-section: #efefef;
    --bgcolor-banner: #e5e7ee;
    --frame-height: 92vh;
    --inner-height: 40vh;
    --round-radius: 30px;
}

body {
    text-align: center;
    background-color: var(--bgcolor-home);
    color: var(--color-home);
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color:inherit;
} 

.outer {
    width: var(--overall-width);
    margin: auto;
}

.inner {
    width: 100%;
    text-align: left;
}

.centered {
    text-align: center;
}

.formal {
    padding: 8px 12px 8px 12px;
}

.textbook {
    line-height: 170%;
}

.font-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-body {
    font-family: Arial, Helvetica, sans-serif
}

.ts-xxl {
    font-size: 32px;
}

.ts-xl {
    font-size: 24px;
}

.ts-l {
    font-size: 18px;
}

.ts-r {
    font-size: 16px;
}

.ts-s {
    font-size: 14px;
}

.ts-xs {
    font-size: 11px;
}

.heavy {
    font-weight: bold;
}

.spacing {
    margin-top: 20px;
}

.hilite {
    color: var(--color-pop);
}

.hilite2 {
    color: var(--color-revert);
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-spaced {
    justify-content: space-around;
}

.flex-topped {
    align-items: flex-start;
}

.navigation {
    width: 100%;
    height: 36px;
    background: var(--bgcolor-pop);
    color: var(--color-revert);
}

.nav-menu li:hover {
    opacity: 0.7;
}

.nav-active {
    opacity: 0.7;
}

.headline {
    position: relative;
    padding-top: calc(var(--frame-height) * 0.66);
    padding-left: 80px;
    color: var(--color-revert);
}

.title-innerpage {
    position: absolute;
    top: calc(var(--inner-height) * 0.45);
    left: 80px;
    width: 220px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, .5);
}

.hero-container {
    width: 300vw;
    transition: margin-left 0.8s ease-in-out;
}

.hero, .hero-innerpage {
    width: 100%;
    height: var(--frame-height);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-innerpage {
    height: var(--inner-height);
}

.logo img {
    height: 20px;
    filter: invert(100%); 
}

.title-btn {
    border-radius: 10px;
    background: var(--bgcolor-pop);
    margin-top: 10px;
    padding: 8px 12px 8px 12px;
    display: inline-block;
    color: var(--color-revert);
    cursor: pointer;
    transition: all 0.3s;
}

.title-btn:hover {
    opacity: 0.8;
}

.title-btn-alternative {
    background-color: var(--bgcolor-pop2);
}

.icon {
    margin-right: 5px;
}

.logo-lead {
    background: url("logo-small.png") center center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.sec-block {
    background: var(--bgcolor-section);
    padding: 30px 0 30px 0;
}

.brand-block {
    margin: 20px 0 20px 0;
    background: rgba(255, 255, 255, .5) url("bg-snow.jpeg") center center no-repeat;
    background-size: cover;
    border-radius: var(--round-radius);
}
.header-block {
    width: 100%;
}

.product-block {
    padding: 10px;
}

.footer-block {
    background-image: linear-gradient(to bottom, var(--bgcolor-section), var(--bgcolor-home));
    background-size: cover;
}

.gallery {
    width: 300px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    border-radius: 12px;
    box-sizing: content-box;    
    color: var(--color-revert);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gallery:hover {
    background-size: 105%;
}

.gallery-text {
    margin: auto;
    background: rgba(154, 158, 172, 0.5);
    width: 90%;
    text-align: left;
    margin-top: 270px;
    padding: 10px 0 10px 10px;
    border-radius: 12px;
}

.gallery-headline {   
    margin: 10px auto 10px auto;
}

.carousel-container {
    overflow-x: hidden;
}

.carousel {
    width: 2480px;
    transition: all 0.5s ease-in-out;
}

.scroller {
    width: 99%;
    margin: -36px 60px 0 0;
    float: left;
    margin-top: 200px;
    margin-bottom: -300px;
}

.scroll-btn {
    display: inline-block;
    background-color: #80838a;
    color: var(--color-revert);
    width: 34px;
    height: 26px;
    font-size: 16px;
    border-radius: 50%;
    padding: 8px 0 0 0;
    box-sizing: content-box;
    cursor: pointer;
    margin-left: 20px;
    z-index: 100;
}

.story-block {
    width: 100%;
    padding: 0 30px 0 30px;
}

.banner-block {
    background-image: linear-gradient(to bottom, var(--bgcolor-banner), var(--bgcolor-section));
    padding: 30px 0 30px 0;
    min-height: 220px;
}

.banner-pic {
    background: url("banner-1.jpg") 0 center no-repeat;
    background-size: cover;
    background-color: var(--bgcolor-banner);
    border-radius: var(--round-radius);
    margin: auto;
    width: 80vw;
    height: 18vw;
}

.banner-wording {
    text-align: left;
    float: right;
    margin: 10vw 20vw 0 auto;
}

.qr-tile {
    width: 60vw;
    margin: auto;
}

.qr {
    display: block;
    width: 220px;
    margin: auto;
    margin-top: 20px;
}

.top-round-fix {
    border-radius: var(--round-radius) var(--round-radius) 0 0;
}

.hero-switcher {
    text-align: left;
    margin: -20vh 0 20vh 80px;
}

.hero-switcher-item {
    display: inline-block;
    width: 20px;
    height: 6px;
    border-radius: 20px;
    background: var(--bgcolor-home);
    margin-right: 5px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.active-hero {
    background: var(--bgcolor-pop2);
    opacity: 0.8;
    width: 30px;
}

.nav-btn {
    display: none;
}

.categories {
    position: sticky;
    top: 10px;
    min-width: 240px;
    text-align: left;
    background-color: var(--bgcolor-section);
    padding: 20px;
}

.categories li {
    background-color: var(--bgcolor-home);
    padding: 5px auto 5px auto;
    border: 2px solid var(--bgcolor-section);
    border-top: none;
    border-left: 3px solid var(--bgcolor-section);
    cursor: pointer;
}

.categories li:nth-child(1) {
    border-top: 2px solid var(--bgcolor-section);
}

.categories li:hover {
    opacity: 0.8;
}

.category-group {
    margin-top: 20px;
    font-weight: bold;
}

.category-group:nth-of-type(1) {
    margin-top: -10px;
}

.active-cate-name {
    border-left: 3px solid var(--bgcolor-pop)!important;
    opacity: 0.8;
    color: var(--color-pop);
    font-weight: bold;
}

.cate-item {
    width: auto;
    position: absolute;
    top: var(--frame-height);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
    max-width: 800px;
    padding: 20px;
}

.product-details img {
    max-width: 100%;
    margin-bottom: -3px;
}

.active-cate {
    opacity: 1;
    visibility: visible;
    height: auto;
    position: relative;
    top: 0;
}

.more-products {
    display: none;
}

/* Mobile adaptation */
@media only screen and (max-width: 1280px) {
    .products {
        flex-direction: column;
    }
    .product-block {
        padding: 0;
    }
    .more-products {
        display: block;
        margin-bottom: 20px;
    }
    .categories {
        width: auto;
        position: relative;
    }
    .categories li {
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
    }
    .cate-item {
        width: 90%;
        padding: 20px 0 0 0;
    }
    .product-details img {
        max-width: 120%;
        margin-left: -10%;
    }
}

@media only screen and (max-width: 800px) {
    .headline {
        text-align: center;
        padding-top: calc(var(--frame-height) * 0.8);
        padding-left: 0;
    }
    .hero-switcher {
        text-align: center;
        margin: -5vh 0 5vh 0;
    }
    .qr-tile {
        flex-direction: column;
    }
    .qr {
        width: 90%;
    }
    .hero-innerpage {
        height: 160px;
    }
    .title-innerpage {
        display: none;
    }
}

@media only screen and (max-width: 680px) {
    :root {
        --overall-width: 98%;
        --frame-height: 80vh;
    }
    .nav-btn {
        display: block;
        cursor: pointer;
    }
    .nav-bar {
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 36px;
        right: 0;
        background-color: var(--bgcolor-pop);
        z-index: 500;
        padding: 12px;
    }
    .show-menu {
        opacity: 1;
    }
}